*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
  overflow: hidden;
  font-family: sans-serif; 
  /* background-color: #387b6a; */
  height: 100vh;  
}
nav{
  position: absolute;
}
.menu{
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  margin-top: 67px;
  background-color: #ffffff; 
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;
  transform: translateX(-250px);
}
.logo a{
  padding: 15px 25px;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  
}
.logo a img{
  width:140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
ul li{
  border-bottom: 1px solid rgba(27, 26, 26, 0.1);
  transition: 0.3s;
  padding-left: 25px;
}
ul li:hover{
  padding-left: 35px;
  background-color: #cfd3d6;
}
ul li a{
  display: block;
  color: rgb(204, 197, 197);
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#open{
  display: none;
}
.open{
  height: 80px;
  width: 80px;
}
.open i{
  font-size: 25px;
  cursor: pointer;
  padding: 20px;
  color: rgb(0, 0, 0);
  z-index: 9999;
}
#open:checked ~ .menu{
  transition: 0.5s;
  transform: translateX(0);
}
#open:checked ~ .open i{
  transition: 0.5s;
  margin-left: 190px;
  position: absolute;
}



header{
  display: flex;
  align-items: center;
  position: sticky;
  background: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
}

main{
  margin-left: 270px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s;
}
.container{
  padding: 5px;
}


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo{
  transition: all 0.3s;
}
.logo:hover{
  transform: scale(110%);
}
@media only screen and (max-width: 600px) {

}