/* font for sidebar */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.side_bar{
    background-color: #101a33;
    width: 250px;
    position: fixed;
    height: 100%;
}
.side_bar li{
    padding: 20px;
}
.side_bar li:hover{
    background-color: #1a2a53;
}
.side_bar li a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
}